<!DOCTYPE html>
<html lang="en">

{{> head }}

<body>

    {{> navbar }}

<div class="row">

<div class="col-8">
    <h1>Foto bien cheta</h1>
</div>

<div class="col-4">
    <img src="assets\img\20150219_171618.jpg" class="img-thumbnail">
</div>

</div>

    {{> footer }}
    
</body>
</html>